header{
    text-align: center;
    font-size: x-large;
    color:white;
    background-image: linear-gradient(rgb(0, 140, 255), blue);
    padding: .25%;
    text-shadow: 2px;
}

button{
    width:15%;
}
.form-group{
    width:15%;
}
.sidebar
{
    padding:50px;
}
.sidebar-search-buttons
{
    /* border-top: solid; */
    /* margin-left:45px; */
}
.search-bar
{
    margin-left: .25%;
}
#submit-button
{
    margin-bottom:40px;
}
#search-button
{
    margin:5px;
}
#search-title
{
    text-align: center;
    margin-right:85%;
}