header{
    text-align: center;
    font-size: x-large;
    color:white;
    background-image: linear-gradient(rgb(0, 140, 255), blue);
    padding: .25%;
    text-shadow: 2px;
}

.form-group{
    width:15%;
}

.sidenav
{
    width:100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* left: 0; */
    padding-left:20px;
    padding-top: 20px;
}
.main
{
    border: 1px solid black;
    width:50%;
    margin-top:2%;
    margin-left:17%;
    padding:5px;
}
.five-day-forecast
{
    margin-left:17%;
}
.card
{
    margin: 10px;
    width:175px;
    
    /* color:white; */
}
.card-body
{
    background-color: rgb(rgb(37, 45, 70));
}
#search-button
{
    width:15%;
    margin-top:5px;
}
#submit-button
{
    width:15%;
    margin-bottom:40px;
}
#search-title
{
    text-align: center;
    margin-right:85%;
}